body {
    background-color: black;
}

.orange {
    color: rgb(193, 125, 0);
}

.yellow {
    background-color: #d5d54a;
}

h1,
h2 {
    font-family: "Rubik Mono One", sans-serif;
}

.snackimage {
    width: 160px;
    height: 160px;
    object-fit: scale-down;
}

.snackbutton {
    width: 43px;
    height: 43px;
}

.moneybutton {
    width: 43px;
    height: 43px;
    font-size: x-small;
}